/* GENERICS */
body {
    font-size: 12px;
    font-family: Montserrat;
    color: white;
}

.wrapper {
    display: flex;
}

main {
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 80px);
    width: calc(100vw - 230px);
    overflow-y: auto;
}

/* UTILITIES */

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.bg-black {
    background-color: rgb(0, 0, 0);
}

/* NAVBAR */
#navbar {
    width: 230px;
}    

#navbar img:not(#logo) {
    width: 10%;
    padding-top: 5px;
}

/* HEADER  */              /* TODO centrare il bottone */  
#main-header {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3); 
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}    

.btn a {             
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 20px;
}


/* LIST  */

.row .list-nav {
    padding-top: 100px;
    
}

.row .list-nav li {
    text-transform: uppercase;
    padding: 0 10px;
    list-style-type: none;
}


/* MAIN */
main .album {                    /* TODO sempre sistemare padding con classi */ 
    padding: 0 15px;
}

.abum h1 {
    padding: 30px 0;
}

.album img {                       /* TODO sempre sistemare padding con classi */ 
    width: 90%;
    padding-right: 10px;
}

/* FOOTER  */
footer {
    background-color: rgb(40, 40, 40);
    height: 80px;
}



/* @media screen and (min-width: 576px) {
    .btn {
        padding-right: 30px;
    }
}     */