/* GENERICS */
body {
    font-size: 12px;
    color:white;
    font-family: "Montserrat", "San-serif";
}

.wrapper {
    display: flex;
    height: calc(100vh - 80px);
    background-color: green;
}    

main {
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
    flex-grow: 1;
    padding-top: 100px;
}

h1 {
    font-size: 20px;
}


/* UTILITIES */

.d-none {
    display: none;
}

.circle {
    border-radius: 50%;
}

.type {
    list-style-type: none;
}

.txt-gray {
    color: grey;
}

/* MARGIN E PADDING */

.my-30 {
    margin: 30px 0;
}    

.my-20 {
    margin: 20px 0;
}

.my-10 {
    margin: 10px 0;
}

.px-5 {
    padding: 0 5px;
}

.px-20 {
    padding: 0 20px;
}

.p-20 {
    padding: 20px 20px;
}

.mb-10 {
    margin-bottom: 10px;
}


/* LINK  */
a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: white;
}

/* NAVBAR */

#logo-small {
    max-width: 25px;
}


#navbar {
    flex-shrink: 0;
    width: 60px;
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 10px;
}

/* MAIN  */
.album {
    padding: 0 20px;
}

.album .main-nav {
    flex-wrap: wrap;
}

.album .main-nav .active:after {
    content:"";
    display: block;
    height: 2px;
    width: 50px;
    background-color: green;
    margin: 2px 15px;
}

.album .main-nav li {
    padding: 0 20px;
    text-transform: uppercase;
}

.album .row img {
    max-width: 100%;
    padding: 0 15px;
}


/* ICON  */

.img-content {
    position: relative;
}

.icon {
  display: none;
}

.img-content:hover .icon {
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

/* 
.txt-white {
    color: white;
} */

/* HEADER  */
#main-header {
    z-index: 1;
    position: fixed;
    width: calc(100% - 60px);
    top: 0;
    right: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}

.btn a {
    padding: 10px 20px;
    border: 1px solid white;
    display: inline-block;
    border-radius: 20px;
    color: white;
}

.btn a:hover {
    transform: scale(1.2);
}


/* FOOTER  */
.player {
    z-index: 0;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(40, 40, 40);
}

.player img {
    width: 40px;
    margin: 0 10px;
}

.players i {
    padding: 0 5px;
}

/* PLAYER CENTRALE  */
.player .control-center {
   flex-direction: column;
}

.control-center i {
    padding: 0 20px;
    padding-bottom: 15px;
    color: white;
}

/* PLAYER RIGHT  */
.control-right i {
    color: white;
}

/* CONTROL LEFT  */
.underline:hover {
    text-decoration: underline;
}

/* PROGRESSION BAR  */
.progression-bar {
    /* position: relative; */
    width: 400px;
    height: 5px;
    border-radius: 5px;
    background-color: gray;
}

.progression {
    background-color: lightgrey;
    position: absolute;
    width: 100px;
    border-radius: 5px;
    height: 5px;
}

.progression-bar.small {
    width: 100px;
}

.progression.small {
    width: 30px;
}


.big-btn:hover {
    transform: scale(1.2);
}

.progression-bar:hover .progression{
    background-color: green;
}

.progression-bar:hover .marker {
    display: block;
    content: "";
    background-color: white;
    height: 10px;
    border-radius: 50%;
    width: 10px;
    position: absolute;
    right: 0;
    top: -2px;
}





@media screen and (min-width: 576px) {
    
    .d-sm-none {
        display: none;
    }
    
    .d-sm {
        display: block;
    }

    #logo {
        max-width: 70%;
    }
    
    #navbar {
        flex-shrink: 0;
        width: 230px;
        background-color: black;
        flex-direction: column;
    }
    
    .nav-1st img:not(#logo) {
        width: 25px;
    }
    
    .nav-2nd img {
        width: 15px;
    }

    #navbar .nav-1st li {
        margin: 10px 0;
    }
      
    #main-header {
        width: calc(100% - 230px);
    }


}

